<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
<aside class="mobile-aside">
  <div class="aside-body">
    <th:block th:if="${#lists.isEmpty(theme.config.header.menuItem)}">
      <th:block th:with="menu = ${menuFinder.getPrimary()}">
    <ul class="aside-menu" th:with="menuItems = ${menu.menuItems}">
      <li class="menu-item"
          th:each="menuItem : ${menuItems}">
        <a th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a>

      </li>
    </ul>
      </th:block>
    </th:block>
    <th:block th:if="${not #lists.isEmpty(theme.config.header.menuItem)}">
      <th:block th:with="menu = ${menuFinder.getByName(theme.config.header.menuItem)}">
        <ul class="aside-menu" th:with="menuItems = ${menu.menuItems}">
          <li class="menu-item"
              th:each="menuItem : ${menuItems}">
            <a th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a>

          </li>
        </ul>
      </th:block>
    </th:block>

  </div>
</aside>
</th:block>
</html>