<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = '归档'+ ' - ' + ${site.title},htmlType = index,header = null,leftSidebar = true,content = ~{::content}, head = null, footer = null)}"
>
<th:block th:fragment="content">
  <div class="site-main h-v-75">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">

          <div class="timeline-card mb-3">
            <div class="timeline-list">
              <th:block th:each="archive : ${archives.items}">
              <div class="item">
                <div class="item-dot"></div>
                <div class="item-content">
                  <div class="item-date text-xxl font-number year" th:text="${archive.year}"></div>
                </div>
              </div>
                <th:block th:each="month : ${archive.months}">

              <div class="item"
                   th:each="post : ${month.posts}">
                <div class="item-dot"></div>
                <div class="item-content">
                  <div class="item-date font-number text-muted mb-1">[[${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}]]</div>
                  <div class="item-body block">
                    <h2 class="text-md">
                      <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}" th:title="${post.spec.title}" target="_blank"></a>
                    </h2>

                  </div>
                </div>
              </div>
                </th:block>
              </th:block>
            </div>
          </div>

          <div class="list-loadmore">


          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>
